#!/usr/bin/env bash

# Turn on Command Tracing
set -x

# Benchmark info
echo "TIMING - Starting main script at: $(date)"

# Unset bash timeout
unset TMOUT

# Get Running Script Directory
get_script_dir () {
	SOURCE="${BASH_SOURCE[0]}"
	while [ -h "$SOURCE" ]; do
		DIR="$( cd -P "$( dirname "$SOURCE" )" && pwd )"
		SOURCE="$( readlink "$SOURCE" )"
		[[ $SOURCE != /* ]] && SOURCE="$DIR/$SOURCE"
	done
	$( cd -P "$( dirname "$SOURCE" )" )
	pwd
}
sdir="$(get_script_dir)"

# Purge the module environment to avoid conflicts
module purge
ml use /storage/pace-apps/manual/packages/tmux/modules/Core/
ml use /storage/pace-apps/manual/packages/ttyd/modules/Core/
ml tmux
ml ttyd

# Set the required binaries
TMUX=$(which tmux)
TTYD=$(which ttyd)

# Restore default modules here 
module restore


# Set Font Size
fsize="<%= context.font_size %>"

# Define tmux socket name
tsock="J${SLURM_JOB_ID}.sock"

# Define tmux session name
tses="J${SLURM_JOB_ID}"

# Define bundled config file
tconf_bundle="${sdir}/tmux.conf.bundle"

# Define future symlink 
tconf="${sdir}/tmux.conf"

# Set Workind Directory To Home
cd "${HOME}"

# set the TERM
export TERM="xterm-256color"

# Benchmark info
echo "TIMING - Starting ttyd at: $(date)"

# Launch ttyd but prep conf file first
<%- if context.tmux_config.to_s == "1" -%>
cp $tconf_bundle $tconf
<%- else -%>
if [ -f $HOME/.tmux.conf ]; then
  ln -s $HOME/.tmux.conf $tconf
else
  ln -s /dev/null $tconf
fi
<%- end -%>

# Stash tmux command to use for reattachment upon authorization
echo '#!/bin/bash' > ${sdir}/tmux.command
echo "$TMUX -f "$tconf" -L "$tsock" new -A -s "$tses"" >> ${sdir}/tmux.command

"${TTYD}" -p "${port}" -b "/node/${host}/${port}" -t fontSize=$fsize -t cursorStyle=underline -t cursorBlink=true -t 'theme={"background": "#282a36", "foreground": "#f8f8f2"}' -a "$sdir"/bin/auth "${TMUX}" -f "$tconf" -L "$tsock" new -A -s "$tses" 

# kill tmux session
"${TMUX}" kill-server || true
