---
batch_connect:
  template: "basic"
script:
  queue_name: <%= custom_queue %>
  native:
    - "--nodes"
    - "<%= bc_num_slots.blank? ? 1 : bc_num_slots.to_i %>"
    - "--ntasks"
    - "<%= bc_num_slots.blank? ? 1 : bc_num_slots.to_i %>"
    - "--cpus-per-task"
    - "<%= num_cpus.blank? ? 1 : num_cpus.to_i %>"
    - "--mem-per-cpu"
    - "<%= num_mem_per_cpus.blank? ? 1 : num_mem_per_cpus.to_i %>"

    <%- unless email.blank? -%>
    - "--mail-user"
    - "<%= email %>"
    - "--mail-type"
    - "BEGIN,END,FAIL"
    <%- end -%>

    <%- if num_gpus.to_i >0 -%>
    - "--gres"
    - "gpu: <%= num_gpus.to_i %>" 
    <%- end -%>
